## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[99, 32, 0, 40, 89, 83, 49, 55, 35, 41, 12, 52, 17, 1, 97, 79, 51, 75, 5, 82, 18, 10, 16, 25, 86, 73, 6, 46, 60, 90, 11, 36, 4, 20, 26, 9, 39, 31, 45, 64, 42, 24, 57, 61, 3, 66, 43, 63, 53, 98, 72, 7, 30, 77, 74, 59, 48, 47, 44, 67, 85, 34, 37, 28, 2, 21, 58, 22, 8, 92, 19, 56, 71, 69, 84, 91, 65, 15, 78, 70]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Gets the count of the unique values 
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# list comprehension
sample_list_2 = [random.randint(0,100) for i in range(80)]
print(sample_list_2)

[100, 19, 2, 12, 90, 46, 88, 48, 91, 85, 93, 87, 80, 24, 27, 85, 68, 21, 43, 7, 83, 8, 26, 9, 75, 48, 19, 8, 100, 54, 46, 84, 95, 94, 48, 65, 38, 16, 12, 43, 60, 55, 2, 16, 76, 12, 95, 93, 42, 60, 38, 65, 22, 91, 70, 87, 81, 1, 82, 88, 15, 69, 52, 18, 29, 0, 33, 18, 49, 23, 62, 11, 80, 25, 21, 58, 5, 100, 61, 32]

In [28]:
# for loop
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0,100))
sample_list_2

[24,
 33,
 77,
 7,
 95,
 35,
 37,
 88,
 99,
 3,
 76,
 67,
 83,
 38,
 66,
 38,
 72,
 8,
 25,
 84,
 29,
 83,
 94,
 3,
 67,
 27,
 48,
 7,
 65,
 62,
 95,
 26,
 5,
 11,
 12,
 89,
 2,
 28,
 32,
 23,
 25,
 27,
 34,
 16,
 39,
 97,
 12,
 17,
 54,
 86,
 71,
 19,
 37,
 28,
 94,
 15,
 90,
 65,
 96,
 69,
 85,
 78,
 38,
 73,
 37,
 85,
 6,
 50,
 14,
 41,
 70,
 98,
 97,
 92,
 37,
 100,
 46,
 96,
 17,
 20]

In [27]:
# while loop
sample_list_2 = []
while len(sample_list_2)<80:
    sample_list_2.append(random.randint(0,100))
sample_list_2

[68,
 46,
 82,
 63,
 55,
 64,
 61,
 33,
 15,
 94,
 78,
 30,
 37,
 68,
 39,
 36,
 86,
 73,
 63,
 39,
 49,
 99,
 71,
 79,
 95,
 99,
 32,
 81,
 88,
 4,
 1,
 11,
 76,
 21,
 83,
 74,
 11,
 66,
 97,
 16,
 100,
 45,
 28,
 72,
 40,
 43,
 76,
 83,
 84,
 85,
 65,
 34,
 77,
 98,
 11,
 63,
 68,
 38,
 86,
 84,
 86,
 28,
 84,
 26,
 37,
 51,
 43,
 63,
 47,
 52,
 77,
 52,
 80,
 51,
 7,
 77,
 42,
 41,
 40,
 45]

In [6]:
set2 = set(sample_list_2)
print(len(set2)) # Length is lower due to numbers not being unique in list, which are removed in set

56

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
# Your code here
set3 = []
for i in set1:
    if i not in set2:
        set3.append(i)
set3 = set(set3)
print(set3)

{3, 4, 6, 10, 17, 20, 28, 30, 31, 34, 35, 36, 37, 39, 40, 41, 44, 45, 47, 51, 53, 56, 57, 59, 63, 64, 66, 67, 71, 72, 73, 74, 77, 78, 79, 86, 89, 92, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# Your code here
set4 = []
for i in set2:
    if i not in set1:
        set4.append(i)
set4 = set(set4)
print(set4)

{33, 68, 100, 38, 88, 76, 80, 81, 93, 54, 23, 87, 94, 27, 29, 62, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 2, 5, 7, 8, 9, 11, 12, 15, 16, 18, 19, 21, 22, 24, 25, 26, 32, 42, 43, 46, 48, 49, 52, 55, 58, 60, 61, 65, 69, 70, 75, 82, 83, 84, 85, 90, 91}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [11]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
56
41
17
39

In [19]:
len(set2) == ( len(set4) + len(set5))

True

In [20]:
len(set1) == ( len(set3) + len(set5) )

False

#### Create an empty set called `set6`.

In [12]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [13]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 28, 30, 31, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 82, 83, 84, 85, 86, 89, 90, 91, 92, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [14]:
# Your code here
print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [15]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [16]:
# Your code here
set3_4_5 = set3.union(set4, set5)
set1_2 = set1.union(set2)
print(set3_4_5 == set1_2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [32]:
# The pop method removes an element randomly, thus we could convert it to list to pop the first element:

set1_list = list(set1)
set1_list.pop(0)
set1_list_pop = set(set1_list)  # And we convert it back to a set
print(set1_list_pop)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 28, 30, 31, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 82, 83, 84, 85, 86, 89, 90, 91, 92, 97, 98, 99}

In [22]:
set1_list.pop(0)

1

In [23]:
set1_list_pop = set(set1_list)  # And we convert it back to a set
print(set1_list_pop)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 28, 30, 31, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 82, 83, 84, 85, 86, 89, 90, 91, 92, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
# Your code here
remaining_elem = []
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in set1:
    if i not in list_to_remove:
        remaining_elem.append(i)
print(remaining_elem)

[2, 3, 4, 5, 6, 7, 8, 10, 12, 15, 16, 17, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 37, 40, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 57, 58, 60, 63, 64, 65, 66, 67, 70, 72, 73, 74, 75, 77, 78, 82, 83, 84, 85, 86, 90, 92, 97, 98]

In [ ]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set(list_to_remove)

print(set1.difference(list_to_remove))